immich.env
.env
/pihole/
/nginx/others/
/nginx/config/others
/loki/data
/logs/
/config/
/certbot/
/authentik/
/jellyfin/
/win/data*
/win/windows.*
/win/tmp
/win/*.iso
/win/config/config.bat
/code/
/nextcloud/