#*##############################################################################
#*                               Volumes
#*##############################################################################

volumes:
  globalDatabase-data:
  nextclouddatabase-data:
  immichdatabase-data:
  redis-data:
  grafana-data:
  loki-data:
  loki-config:
  portainer_data:
  nextcloud-data:
  searxng-data:
  headscale:
  immich:
  model-cache:

#*##############################################################################
#*                               NETWORKS
#*##############################################################################

networks:
  nginx-connection:
    external: true
  authentik-net:
    external: true
  nextcloud-net:
    external: true
  immich-net:
    external: true
  monitoring-net:
    external: true
  redis-net:
    external: true

#*##############################################################################
#*                                SERVICES8
#*##############################################################################

services:
  # * ---------------------------------------------------------------------------
  # * LOAD-BALANCER (NGINX)
  # * ---------------------------------------------------------------------------

  loadbalancer:
    image: nginx:1.29.4-alpine
    container_name: nginx
    ports:
      - 80:80
      - 443:443
      - 7777:7777
      - 25565:25565
      - 25566:25566
      - 25567:25567
      - 25568:25568
      - 25570:25570
      - 25564:25564
    volumes:
      - ./nginx/config:/etc/nginx
      - ./nginx/others/geoip:/etc/nginx/others
      - ./logs/nginx:/var/log/nginx
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/
      - ../sites/static_sites/:/var/www/
    networks:
      - nginx-connection
      - monitoring-net
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          cpus: 2
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * CERTBOT
  # * ---------------------------------------------------------------------------

  sslbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/
    deploy:
      resources:
        reservations:
          cpus: 1
          memory: 32M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # * Authentik Database
  # * ---------------------------------------------------------------------------

  authentikdatabase:
    image: docker.io/library/postgres:16-alpine
    container_name: authentikdatabase
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d authentik -U authentikUser"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - globalDatabase-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: authentik
      POSTGRES_USER: ${AUTHENTIK_USER}
      POSTGRES_PASSWORD: ${AUTHENTIK_PASSWORD}
    networks:
      - authentik-net
    deploy:
      resources:
        reservations:
          cpus: 1
          memory: 32M
    cpuset: "14"

  # * ---------------------------------------------------------------------------
  # * Authentik
  # * ---------------------------------------------------------------------------

  authentikServer:
    image: ghcr.io/goauthentik/server:2025.12.1
    container_name: authentikServer
    restart: unless-stopped
    command: server
    user: 65534:65534
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: authentikdatabase
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_PASSWORD}
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    expose:
      - 9000
      - 9443
    volumes:
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
    networks:
      - nginx-connection
      - authentik-net
      - redis-net
    depends_on:
      authentikdatabase:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 1G
    cpuset: 6-13

  authentikWorker:
    image: ghcr.io/goauthentik/server:2025.12.1
    container_name: authentikWorker
    restart: unless-stopped
    command: worker
    user: 65534:65534
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: authentikdatabase
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_PASSWORD}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./authentik/media:/media
      - ./authentik/certs:/certs
      - ./authentik/custom-templates:/templates
    networks:
      - authentik-net
      - redis-net
    depends_on:
      authentikdatabase:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        reservations:
          cpus: 4
          memory: 1G
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Nextcloud Database
  # * ---------------------------------------------------------------------------

  nextclouddatabase:
    image: docker.io/library/postgres:16-alpine
    container_name: nextclouddatabase
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d nextcloud -U nextcloudUser"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - nextclouddatabase-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ${NEXTCLOUD_USER}
      POSTGRES_PASSWORD: ${NEXTCLOUD_PASSWORD}
    networks:
      - nextcloud-net
    deploy:
      resources:
        reservations:
          cpus: 1
          memory: 32M
    cpuset: "15"

  # * ---------------------------------------------------------------------------
  # * Nextcloud
  # * ---------------------------------------------------------------------------

  nextcloud:
    image: nextcloud:30.0.11-apache
    container_name: nextcloud
    restart: unless-stopped
    expose:
      - 80
    depends_on:
      - nextclouddatabase
    environment:
      - POSTGRES_HOST=nextclouddatabase
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=${NEXTCLOUD_USER}
      - POSTGRES_PASSWORD=${NEXTCLOUD_PASSWORD}
    volumes:
      - nextcloud-data:/var/www/html
    networks:
      - nginx-connection
      - nextcloud-net
    deploy:
      resources:
        reservations:
          cpus: 2
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Immich Database
  # * ---------------------------------------------------------------------------

  immichdatabase:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.3.0-pgvectors0.2.0
    container_name: immichdatabase
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d immich -U immichUser"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - immichdatabase-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: immich
      POSTGRES_USER: ${IMMICH_USER}
      POSTGRES_PASSWORD: ${IMMICH_PASSWORD}
    networks:
      - immich-net
    deploy:
      resources:
        reservations:
          cpus: 1
          memory: 32M
    cpuset: "16"

  # * ---------------------------------------------------------------------------
  # * Immich
  # * ---------------------------------------------------------------------------

  # deploy:
  #   resources:
  #     limits:
  #       cpus: 4
  #       memory: 1G
  # cpuset: 10-13

  # * ---------------------------------------------------------------------------
  # * Redis
  # * ---------------------------------------------------------------------------

  redis:
    image: docker.io/library/redis:8.4.0-alpine
    container_name: redis
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - redis-data:/data
    networks:
      - redis-net
    deploy:
      resources:
        reservations:
          cpus: 1
          memory: 128M
    cpuset: "17"

  # * ---------------------------------------------------------------------------
  # * PROMETHEUS
  # * ---------------------------------------------------------------------------

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - "./prometheus:/etc/prometheus"
    expose:
      - 9090
    networks:
      - monitoring-net
      - nginx-connection
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * GRAFANA
  # * ---------------------------------------------------------------------------

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    expose:
      - 3008
    restart: unless-stopped
    environment:
      GF_SERVER_ROOT_URL: https://grafana.nexuswebdigital.com
      GF_SERVER_HTTP_PORT: 3008
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_TLS_SKIP_VERIFY_INSECURE: true
      GF_AUTH_GENERIC_OAUTH_NAME: authentik
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://authentik.nexuswebdigital.com/application/o/authorize/
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: http://authentikServer:9000/application/o/token/
      GF_AUTH_GENERIC_OAUTH_API_URL: http://authentikServer:9000/application/o/userinfo/
      GF_AUTH_SIGNOUT_REDIRECT_URL: https://authentik.nexuswebdigital.com/application/o/grafana1/end-session/
      GF_AUTH_OAUTH_AUTO_LOGIN: true
      # ? user groups to Grafana roles
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'authentik Admins') && 'Admin' || 'Viewer'" # || contains(groups, 'Grafana Editors') && 'Editor'
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring-net
      - nginx-connection
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # *  node-exporter
  # * ---------------------------------------------------------------------------

  nodeExporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: nodeExporter
    command:
      - "--path.rootfs=/host"
    pid: host
    expose:
      - 9100
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
    networks:
      - monitoring-net
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 32M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # * Jellyfin
  # * ---------------------------------------------------------------------------

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    hostname: jellyfin
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - type: bind
        source: ./jellyfin/media
        target: /media
      - type: bind
        source: ./jellyfin/media2
        target: /media2
        read_only: true
      - type: bind
        source: ./jellyfin/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: "unless-stopped"
    # ports:
    #   - 8096:8096
    expose:
      - 8096
    environment:
      - JELLYFIN_PublishedServerUrl=https://stream.nexuswebdigital.com
    networks:
      - nginx-connection
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Windows
  # * ---------------------------------------------------------------------------

  windows-foda:
    image: dockurr/windows:latest
    container_name: windows
    environment:
      VERSION: "10"
      CPU_CORES: "4"
      RAM_SIZE: "4G"
      USERNAME: ${WIN_USERNAME}
      PASSWORD: ${WIN_PASSWORD}
      LANGUAGE: "Portuguese"
      REGION: "pt-BR"
      KEYBOARD: "pt-BR"
    devices:
      - /dev/kvm
      - /dev/net/tun
    volumes:
      - ./win/config:/oem
    cap_add:
      - NET_ADMIN
    stop_grace_period: 2m
    networks:
      - nginx-connection
    restart: unless-stopped
    deploy:
      resources:
        # reservations:
        #   devices:
        #     - driver: nvidia
        #       count: 1
        #       capabilities: [gpu]
        reservations:
          cpus: 2
          memory: 2G
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Portainer
  # * ---------------------------------------------------------------------------

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    expose:
      - 9000
    networks:
      - nginx-connection
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Searxng
  # * ---------------------------------------------------------------------------

  searchengine:
    image: docker.io/searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    environment:
      - SEARXNG_BASE_URL=https://${SEARXNG_HOSTNAME:-localhost}/
    volumes:
      - ./searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    networks:
      - nginx-connection
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # * Headscale
  # * ---------------------------------------------------------------------------

  VPN:
    image: headscale/headscale:latest
    container_name: headscale
    command: serve
    restart: unless-stopped
    volumes:
      - headscale:/var/lib/headscale
      - ./headscale/config.yaml:/etc/headscale/config.yaml
    networks:
      - nginx-connection
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
    cpuset: 6-13

  # * ---------------------------------------------------------------------------
  # *  Loki
  # * ---------------------------------------------------------------------------

  loki:
    image: grafana/loki:latest
    container_name: loki
    expose:
      - 3100
    volumes:
      - loki-config:/etc/loki
      - loki-data:/loki
    networks:
      - monitoring-net
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 32M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # *  Promtail
  # * ---------------------------------------------------------------------------

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./promtail/config:/etc/promtail
      - ./logs:/var/log
    command: -config.file=/etc/promtail/config.yml
    restart: unless-stopped
    networks:
      - monitoring-net
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 32M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # *  Cadvisor
  # * ---------------------------------------------------------------------------

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    expose:
      - 8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    networks:
      - monitoring-net
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 128M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # *  Watchtower
  # * ---------------------------------------------------------------------------

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_POLL_INTERVAL: 3600
      WATCHTOWER_LABEL_ENABLE: true
      WATCHTOWER_DEBUG: true
      WATCHTOWER_NOTIFICATIONS: email
      WATCHTOWER_NOTIFICATION_EMAIL_FROM: refinerymachine@gmail.com
      WATCHTOWER_NOTIFICATION_EMAIL_TO: christian.nascimento.falcao@gmail.com
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER: smtp.gmail.com
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: 587
      WATCHTOWER_NOTIFICATION_EMAIL_USERNAME: refinerymachine@gmail.com
      WATCHTOWER_NOTIFICATION_EMAIL_PASSWORD: ${SENHA}
      WATCHTOWER_NOTIFICATION_EMAIL_DELAY: 30
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 128M
    cpuset: 18-19

  # * ---------------------------------------------------------------------------
  # * SR.Forg
  # * ---------------------------------------------------------------------------

  # discordbot:
  #   container_name: srforg
  #   build:
  #     context: ./srforg
  #     dockerfile: dockerfile
  #   restart: unless-stopped
  #   deploy:
  #     resources:
  #       reservations:
  #         cpus: 1
  #         memory: 32M
  #   cpuset: 6-13
