#*##############################################################################
#*                               Volumes
#*##############################################################################

volumes:
  globalDatabase-data:
  redis-data:
  grafana-data:
  loki-data:
  loki-config:
  postgres-data:
  portainer_data:
  nextcloud-data:
  ollama-data: {}
  open-webui-data: {}

#*##############################################################################
#*                               NETWORKS
#*##############################################################################

networks:
  nginx-connection:
    external: true
  database-net:
    external: true
  monitoring-net:
    external: true
  ai-net:
    external: true
  vlan:
    driver: macvlan
    driver_opts:
      parent: enp7s0
    ipam:
      config:
        - subnet: "192.168.15.0/24"
          gateway: "192.168.15.1"
          ip_range: "192.168.15.192/27"

#*##############################################################################
#*                                SERVICES8
#*##############################################################################

services:
  # * ---------------------------------------------------------------------------
  # * LOAD-BALANCER (NGINX)
  # * ---------------------------------------------------------------------------

  loadbalancer:
    image: nginx:1.28.0-alpine
    container_name: nginx
    volumes:
      - ./nginx/config:/etc/nginx
      - ./nginx/others/geoip:/etc/nginx/others
      - ./logs/nginx:/var/log/nginx
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/
      - ../projetos/static_sites/:/usr/share/nginx/html
    networks:
      nginx-connection:
      monitoring-net:
      vlan:
        ipv4_address: 192.168.15.254
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 1G
    cpuset: 12-15

  # * ---------------------------------------------------------------------------
  # * SSH
  # * ---------------------------------------------------------------------------

  openssh-server:
    image: linuxserver/openssh-server
    container_name: openssh-server
    restart: unless-stopped
    hostname: openssh-server
    ports:
      - 1080:2222
    environment:
      # https://github.com/linuxserver/docker-mods/tree/openssh-server-ssh-tunnel
      - DOCKER_MODS=linuxserver/mods:openssh-server-ssh-tunnel
      - SHELL_NOLOGIN=false
      # set correct for current host user
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
      # important
      - PUBLIC_KEY
      # optional env vars bellow
      - SUDO_ACCESS=true
      - USER_NAME=username
      - PASSWORD_ACCESS=false
    volumes:
      - ./config:/config
    networks:
      - nginx-connection

  # * ---------------------------------------------------------------------------
  # * CERTBOT
  # * ---------------------------------------------------------------------------

  sslbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www/:/var/www/certbot/
      - ./certbot/conf/:/etc/letsencrypt/
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 32M
    cpuset: "19"

  # * ---------------------------------------------------------------------------
  # * PROMETHEUS
  # * ---------------------------------------------------------------------------

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - "./prometheus:/etc/prometheus"
    expose:
      - 9090
    networks:
      - monitoring-net
      - nginx-connection
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    cpuset: "18"
    restart: unless-stopped

  # * ---------------------------------------------------------------------------
  # * GRAFANA
  # * ---------------------------------------------------------------------------

  grafana:
    image: grafana/grafana:12.0.0
    container_name: grafana
    expose:
      - 3008
    restart: unless-stopped
    environment:
      GF_SERVER_ROOT_URL: https://grafana.nexuswebdigital.com
      GF_SERVER_HTTP_PORT: 3008
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_TLS_SKIP_VERIFY_INSECURE: true
      GF_AUTH_GENERIC_OAUTH_NAME: authentik
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://authentik.nexuswebdigital.com/application/o/authorize/
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: http://authentikServer:9000/application/o/token/
      GF_AUTH_GENERIC_OAUTH_API_URL: http://authentikServer:9000/application/o/userinfo/
      GF_AUTH_SIGNOUT_REDIRECT_URL: https://authentik.nexuswebdigital.com/application/o/grafana1/end-session/
      GF_AUTH_OAUTH_AUTO_LOGIN: true
      # ? user groups to Grafana roles
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'authentik Admins') && 'Admin' || 'Viewer'" # || contains(groups, 'Grafana Editors') && 'Editor'
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring-net
      - nginx-connection
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    cpuset: "19"

  # * ---------------------------------------------------------------------------
  # * Global Database
  # * ---------------------------------------------------------------------------

  globalDatabase:
    image: docker.io/library/postgres:16-alpine
    container_name: globalDatabase
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d authentik -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - ./postgres/init-multiple-databases.sh:/docker-entrypoint-initdb.d/init-multiple-databases.sh
      - globalDatabase-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_MULTIPLE_DATABASES: authentik, nextcloud
    networks:
      - database-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "17"

  # * ---------------------------------------------------------------------------
  # * Redis
  # * ---------------------------------------------------------------------------

  redis:
    image: docker.io/library/redis:8.0.1-alpine
    container_name: redis
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - redis-data:/data
    networks:
      - database-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "19"

  # * ---------------------------------------------------------------------------
  # * Authentik
  # * ---------------------------------------------------------------------------

  authentikServer:
    image: ghcr.io/goauthentik/server:2025.4.0
    container_name: authentikServer
    restart: unless-stopped
    command: server
    user: 65534:65534
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: globalDatabase
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    expose:
      - 9000
      - 9443
    volumes:
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
    networks:
      - nginx-connection
      - database-net
    depends_on:
      globalDatabase:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 1G
    cpuset: 16-19

  authentikWorker:
    image: ghcr.io/goauthentik/server:2025.4.0
    container_name: authentikWorker
    restart: unless-stopped
    user: 65534:65534
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: globalDatabase
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./authentik/media:/media
      - ./authentik/certs:/certs
      - ./authentik/custom-templates:/templates
    networks:
      - database-net
    depends_on:
      globalDatabase:
        condition: service_healthy
      redis:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 1G
    cpuset: 16-19

  # * ---------------------------------------------------------------------------
  # *  Pihole
  # * ---------------------------------------------------------------------------

  dns:
    image: pihole/pihole:2025.04.0
    container_name: pihole
    hostname: pihole
    ports:
      - 53:53/udp
      - 53:53/tcp
    expose:
      - "80"
    restart: unless-stopped
    environment:
      PIHOLE_UID: 65534
      PIHOLE_GID: 65534
      tz: America/Sao_Paulo
      FTLCONF_webserver_api_password: ""
      FTLCONF_dns_listeningMode: "all"
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
      - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    networks:
      - nginx-connection
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    cpuset: "16"

  # * ---------------------------------------------------------------------------
  # *  Loki
  # * ---------------------------------------------------------------------------

  loki:
    image: grafana/loki:3.5
    container_name: loki
    expose:
      - 3100
    volumes:
      - loki-config:/etc/loki
      - loki-data:/loki
    networks:
      - monitoring-net
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "18"

  # * ---------------------------------------------------------------------------
  # *  Promtail
  # * ---------------------------------------------------------------------------

  promtail:
    image: grafana/promtail:3.5.0
    container_name: promtail
    volumes:
      - ./promtail/config:/etc/promtail
      - ./logs:/var/log
    command: -config.file=/etc/promtail/config.yml
    restart: unless-stopped
    networks:
      - monitoring-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "19"

  # * ---------------------------------------------------------------------------
  # *  Cadvisor
  # * ---------------------------------------------------------------------------

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    container_name: cadvisor
    expose:
      - 8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    restart: unless-stopped
    networks:
      - monitoring-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "15"

  # * ---------------------------------------------------------------------------
  # *  node-exporter
  # * ---------------------------------------------------------------------------

  nodeExporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: nodeExporter
    command:
      - "--path.rootfs=/host"
    pid: host
    expose:
      - 9100
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
    networks:
      - monitoring-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 128M
    cpuset: "18"

  # * ---------------------------------------------------------------------------
  # * Jellyfin
  # * ---------------------------------------------------------------------------

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    hostname: jellyfin
    user: 65534:65534
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - type: bind
        source: ./jellyfin/media
        target: /media
      - type: bind
        source: ./jellyfin/media2
        target: /media2
        read_only: true
      - type: bind
        source: ./jellyfin/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: "unless-stopped"
    ports:
      - 8096:8096
    environment:
      - JELLYFIN_PublishedServerUrl=https://stream.nexuswebdigital.com
    networks:
      nginx-connection:
      vlan:
        ipv4_address: 192.168.15.253

  # * ---------------------------------------------------------------------------
  # * VS Code Web
  # * ---------------------------------------------------------------------------

  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "America/Sao_Paulo"
      DEFAULT_WORKSPACE: "/config"
      DOCKER_MODS: "linuxserver/mods:universal-docker"
    volumes:
      - /var/opt:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    expose:
      - 8443
    networks:
      - nginx-connection
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 1G
    cpuset: 12-15

  # * ---------------------------------------------------------------------------
  # * Windows
  # * ---------------------------------------------------------------------------

  windows-foda:
    image: dockurr/windows:4.35
    container_name: windows
    environment:
      VERSION: "10"
      CPU_CORES: "10"
      RAM_SIZE: "16G"
      USERNAME: ${WIN_USERNAME}
      PASSWORD: ${WIN_PASSWORD}
      LANGUAGE: "Portuguese"
      REGION: "pt-BR"
      KEYBOARD: "pt-BR"
    devices:
      - /dev/kvm
      - /dev/net/tun
    volumes:
      - ./win/config:/oem
    cap_add:
      - NET_ADMIN
    stop_grace_period: 2m
    networks:
      - nginx-connection
    restart: unless-stopped
    deploy:
      resources:
        # reservations:
        #   devices:
        #     - driver: nvidia
        #       count: 1
        #       capabilities: [gpu]
        limits:
          cpus: 10
          memory: 16G
    cpuset: 6-15

  # * ---------------------------------------------------------------------------
  # * Portainer
  # * ---------------------------------------------------------------------------

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    expose:
      - 9000
    networks:
      - nginx-connection
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 128M
    cpuset: 16-19

  # * ---------------------------------------------------------------------------
  # * Nextcloud
  # * ---------------------------------------------------------------------------

  nextcloud:
    image: nextcloud:30.0.11-apache
    container_name: nextcloud
    restart: unless-stopped
    expose:
      - 80
    depends_on:
      - globalDatabase
    environment:
      - POSTGRES_HOST=globalDatabase
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - nextcloud-data:/var/www/html
    networks:
      - nginx-connection
      - database-net
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
    cpuset: "15"

  # * ---------------------------------------------------------------------------
  # * Ollama
  # * ---------------------------------------------------------------------------

  ollama-service:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    expose:
      - 11434
    volumes:
      - ollama-data:/root/.ollama
    tty: true
    networks:
      - ai-net
    deploy:
      resources:
        limits:
          cpus: 6
    cpuset: 6-11

  # * ---------------------------------------------------------------------------
  # * Chat-UI
  # * ---------------------------------------------------------------------------

  chat-ui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openchat
    restart: unless-stopped
    volumes:
      - open-webui-data:/app/backend/data
    environment:
      - "OLLAMA_BASE_URL=http://ollama:11434"
      - "WEBUI_SECRET_KEY=dhqK8hVFgXEVl91uHD2uAa1Wmok3B"
    expose:
      - 8080
    networks:
      - ai-net
      - nginx-connection
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 2G
    cpuset: 12-15

  # * ---------------------------------------------------------------------------
  # * SR.Forg
  # * ---------------------------------------------------------------------------

  # discordbot:
  #   container_name: srforg
  #   user: 65534:65534
  #   build:
  #     context: ./srforg
  #     dockerfile: dockerfile
  #   restart: unless-stopped
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: 1
  #         memory: 32M
  #   cpuset: "2"

  # * ---------------------------------------------------------------------------
  # * Filetransfer
  # * ---------------------------------------------------------------------------

  # falsetorrent:
  #   container_name: filetransfer
  #   user: 65534:65534
  #   build:
  #     context: ./filetransfer
  #     dockerfile: dockerfile
  #   environment:
  #     DATABASE_HOST:
  #     DATABASE_USER:
  #     DATABASE_PASSWORD:
  #     DATABASE_NAME:
  #     DATABASE_PORT:
  #   expose:
  #     - 3000
  #   restart: unless-stopped
  #   networks:
  #     - nginx_connection
  #     - database-net
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: 1
  #         memory: 256M
  #   cpuset: "2"
